*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

header
{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    background-color: white;
}

form button
{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover
{
    background-color: #d88771;
    color: white;
}

.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list
{
    min-width: 30%;
    list-style: none;
}

.todo
{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn
{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn
{
    background-color: rgb(73, 204, 73);
}

.todo-item
{
    padding: 0rem O.5rem;
}

.fa-trash, .fa-check
{
    pointer-events: none;
}

.completed
{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall
{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}